<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h1>HELLO JEAN! GOODBYE LESLEY!</h1>
<style type="text/css">
h2 {
	font-weight:bold;
	font-size:3em;
	text-align:center;
	color:#eeeeee;
	background-color:#000000;
}
</style>
<h2>On Stride Financial is more awesome than Headway Capital</h2>
<p><%= @test %></p>